/src/LPS/publish
/src/LPS/fixedlpslog.Log
/src/LPS/plans.txt
/src/LPS/Next.txt
/src/LPS/.vs/LPS/v17/TestStore/0/002.testlog
/src/LPS/.vs/LPS/v17/fileList.bin
/src/LPS/.vs/LPS/v17/TestStore/0/testlog.manifest
/src/LPS/bin/Debug/LPS.1.0.0.nupkg
