<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />
    <link rel="manifest" href="~/manifest.json" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/apple-icon.png" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <title>Load Perform Stress (LPS) - Performance KPS's</title>
    <script defer="defer" src="~/static/js/main.ddcd3777.js"></script>
    <link href="~/static/css/main.3b4b745f.css" rel="stylesheet">


</head>
<body style="background-color:#f8f9fa !important">
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
