*.cache
*.vsidx
*.v2
*.CopyComplete
*.BuildWithSkipAnalyzers
netcoreapp3.1
net6.0
obj
/LPS.Domain/bin/Debug/net8.0
/LPS.Infrastructure/bin/Debug/net8.0
/LPS.UnitTest/bin/Debug/net8.0
/LPS/bin/Debug/net8.0
/LPS/.vs/LPS/v17/.suo
/LPS/.vs/LPS/v17/*.suo
/LPS/.vs/ProjectEvaluation/*.bin
/LPS/.vs/ProjectEvaluation
/LPS/.vs/LPS/v17/HierarchyCache.v1.txt
/LPS/Properties/PublishProfiles
/LPS/*.user
*.pdb
*.dll
/Dashboard/bin/Debug/net8.0/*.dll
*.exe
wwwroot
net8.0
/LPS/bin/Debug/net8.0.zip
*.user
/LPS/LPS - Backup.csproj
/LPS.Infrastructure/Common/Interfaces/ILPSConnectionsMetricMonitor.cs
/LPS.Infrastructure/Common/Interfaces/ILPSMetricMonitor.cs
